/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

md-content.md-no-momentum._md {
  margin-left: 20px;
  margin-top: 15px;
}

.isSelected {
  background : #7CB342;
  color: white;
}
.rounded {
  background-color: #7CB342;
  height: 56px;
  position: relative;
  width: 56px;
  border: transparent;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  box-sizing: content-box;
  cursor: pointer;
  outline: none;
  padding: 0;
  pointer-events: auto;
  position: fixed;
  -webkit-transform: scale(1) rotate(360deg);
  transform: scale(1) rotate(360deg);
  -webkit-transition: -webkit-transform 150ms cubic-bezier(.4,0,1,1);
  transition: transform 150ms cubic-bezier(.4,0,1,1);
  color: white;
  bottom: 1em;
  border-radius: 50%;
  right: 1em;
}

.rounded2 {
  background-color: #d23f31;
  height: 56px;
  border: transparent;
  /* position: relative; */
  width: 56px;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  box-sizing: content-box;
  cursor: pointer;
  outline: none;
  padding: 0;
  pointer-events: auto;
  position: fixed;
  bottom: 1em;
  -webkit-transform: scale(1) rotate(360deg);
  transform: scale(1) rotate(360deg);
  -webkit-transition: -webkit-transform 150ms cubic-bezier(.4,0,1,1);
  transition: transform 150ms cubic-bezier(.4,0,1,1);
  border-radius: 50%;
  color: white;
  left: 1em;
}

.mdl-layout__tab-bar {
  height: 96px;
  margin: 0;
  width: calc(100% - 112px);
  padding: 0 0 0 56px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #a2c037;
  overflow-y: hidden;
  overflow-x: scroll;
}

.mdl-layout__header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  background: #a2c037;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  box-sizing: border-box;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 64px;
  max-height: 1000px;
  z-index: 3;
  color: rgb(255,255,255);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: max-height,box-shadow;
}

md-list-item, md-list-item .md-list-item-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  /* border-bottom: 1px solid #D3D3D3; */
  justify-content: flex-start;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 0px rgba(0, 0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0);
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  min-height: 48px;
  height: auto;
}
